log/*
!log/.gitkeep
!files/.gitkeep
__pycache__/
*token.json
*cookies.json
Lib
Scripts
pyvenv.cfg
Include
.mypy_cache
redis-stable/
dump.rdb
test/
uploads/dicts/*
!uploads/dicts/.gitkeep
uploads/pools/*
!uploads/pools/.gitkeep
uploads/reservations/*
!uploads/reservations/.gitkeep
