{% extends "static/html/base.html" %}
{% block northbound_system %}
<ul class="nav navbar-nav ms-auto">
  <li>{{ api_url }}</li>
</ul>
{% endblock %}
{% block log %}
<li class="nav-item">
  <a href="/log" class="nav-link">Log</a>
</li>
{% endblock %}

{% block content %}

<div class="m-4">
  <div class="container-fluid bg-light">
    <form id="user_add_form" method="post" name="user_add_form">
      <table id ="mytable" class="formdata table table-hover table-responsive table-sm table-bordered">
        <thead><td><b>Username:</b></td><td><b>Password</b></td><td><b>Src-address</b></td><td><b>Description</b></td></thead>
        <tr>
          <td><input type="text" id="user_name" name="user_name"  class="form-control form-control-sm" required></td>
          <td><input type="password" id="user_pass" name="user_pass"  class="form-control form-control-sm" required></td>
          <td>
            <select  id="source_address" name="source_address" class="G7-countries" name="g7[]" multiple="multiple" style="width: 100%;" required>
              <option></option>
            </select>
          </td>
          <td><input type="text" id="user_description" name="user_description"  class="form-control form-control-sm" required></td>
        </tr>
        <thead><td><b>Cities:</b><br>permit</td></td><td><b>Endpoints:</b><br>permit</td><td><b>Method Ro:</b><br>permit</td><td><b>Method Rw:</b><br>permit</td>
        <tr>
          <td>
            <select id="city_permit" name="city_permit" class="G7-countries" name="g7[]" multiple="multiple" style="width: 100%;" required >
            {% for item in cities.get("visible")|list + cities.get("changeable")|list %}
                <option>{{item}}</option>
            {% endfor %}
            </select>
          </td>
          <td>
            <select id="endpoint_permit" name="endpoint_permit" class="G7-countries" name="g7[]" multiple="multiple" style="width: 100%;" required >
            {% for item in endpoints.get("visible")|list + endpoints.get("changeable")|list %}
                <option >{{item}}</option>
            {% endfor %}
            </select>
          </td>
          <td>
            <select id="method_ro_permit" name="method_ro_permit" class="G7-countries" name="g7[]" multiple="multiple" style="width: 100%;" required pattern="^([0-9]{1,3}\.){3}[0-9]{1,3}$" >
              {% for item in methods.get("visible")|list + methods.get("changeable")|list %}
                <option >{{item}}</option>
              {% endfor %}
            </select>
          </td>
          <td>
            <select id="method_rw_permit" name="method_rw_permit" class="G7-countries" name="g7[]" multiple="multiple" style="width: 100%;" required >
              {% for item in methods.get("visible")|list + methods.get("changeable")|list %}
                <option>{{item}}</option>
              {% endfor %}
            </select>
          </td>
        <thead><td>deny</td><td>deny</td><td>deny</td><td>deny</td></thead>
        <tr>
          <td>
            <div class="input-group">
            <select id="city_deny" name="city_deny" class="G7-countries" name="g7[]" multiple="multiple" style="width: 100%;" required>
            {% for item in cities.get("visible")|list + cities.get("changeable")|list %}
              <option>{{item}}</option>
            {% endfor %}
            </select>
            </div>
          </td>
          <td>
            <select id="endpoint_deny" name="endpoint_deny" class="G7-countries" name="g7[]" multiple="multiple" style="width: 100%;" required>
            {% for item in endpoints.get("visible")|list + endpoints.get("changeable")|list %}
              <option >{{item}}</option>
            {% endfor %}
            </select>
          </td>
          <td>
            <select id="method_ro_deny" name="method_ro_deny" class="G7-countries" name="g7[]" multiple="multiple" style="width: 100%;" required>
              {% for item in methods.get("visible")|list + methods.get("changeable")|list %}
                <option>{{item}}</option>
              {% endfor %}
            </select>
          </td>
          <td>
            <select id="method_rw_deny" name="method_rw_deny" class="G7-countries" name="g7[]" multiple="multiple" style="width: 100%;" required>
              {% for item in methods.get("visible")|list + methods.get("changeable")|list %}
                <option>{{item}}</option>
              {% endfor %}
            </select>
          </td>

        </tr>
        </tr>
      </table>
      <div class="input-group mb-3">
        <button type="submit" name="cancel" class="btn btn-sm btn-outline-secondary"  value="yes" onclick="location.href = '/adc_control';">Cancel</button>&ensp;
        <button type="submit" name="add_user" class="btn btn-sm btn-outline-secondary"value="yes">Add</button>
      </div>
      </form>
  </div>
</div>
<script>
  $(document).ready(function() {
        $('.G7-countries').select2({
            placeholder: 'Select',
            allowClear: true,
            tags: true,
        });
    });
</script>
{% endblock %}
